<mat-form-field [formGroup]="passwordChecker">
  <h3>Please, enter the password</h3>
  <input
    matInput
    (ngModelChange)="sendDataToValidator()"
    type="password"
    formControlName="password"
  />
</mat-form-field>
<div
  class="warning"
  *ngIf="
    this.passwordChecker.get('password')?.invalid &&
    this.passwordChecker.get('password')?.touched
  "
>
  Password must include minimum 8 characters
</div>

<div class="strength-level">
  <div
    class="strength-level_item easy"
    [ngStyle]="{
      backgroundColor: this.weak
    }"
    >Easy</div
  >
  <div
    class="strength-level_item medium"
    [ngStyle]="{
      backgroundColor: this.medium
    }"
    >Medium</div
  >
  <div
    class="strength-level_item strong"
    [ngStyle]="{
      backgroundColor: this.strong
    }"
    >Strong</div
  ></div
>
