<h3>Please, enter the password</h3>
<field
  [formGroup]="passwordChecker"
  class="mat-form"
>
  <input
    (ngModelChange)="sendDataToValidator()"
    type="password"
    formControlName="password"
  />
</field>
<div class="warning">
  {{ this.result }}
</div>

<div class="strength-level">
  <div
    class="strength-level_item easy"
    [ngStyle]="{
      backgroundColor: this.weak
    }"
  ></div>
  <div
    class="strength-level_item easy"
    [ngStyle]="{
      backgroundColor: this.weak
    }"
  ></div>
  <div
    class="strength-level_item easy"
    [ngStyle]="{
      backgroundColor: this.weak
    }"
  ></div>
  <div
    class="strength-level_item medium"
    [ngStyle]="{
      backgroundColor: this.medium
    }"
  ></div>
  <div
    class="strength-level_item medium"
    [ngStyle]="{
      backgroundColor: this.medium
    }"
  ></div>
  <div
    class="strength-level_item medium"
    [ngStyle]="{
      backgroundColor: this.medium
    }"
  ></div>
  <div
    class="strength-level_item strong"
    [ngStyle]="{
      backgroundColor: this.strong
    }"
  ></div>
  <div
    class="strength-level_item strong"
    [ngStyle]="{
      backgroundColor: this.strong
    }"
  ></div>
  <div
    class="strength-level_item strong"
    [ngStyle]="{
      backgroundColor: this.strong
    }"
  ></div
></div>
